{% block content %}

<li class="tweet">
    <article>
        <header>
            <h2>{{tweet.name}}</h2>
            <time datetime="{{tweet.date}}">{{tweet.date}}</time>
        </header>
        <p>{{tweet.message}}</p>
        <footer>
            <ul>
                <li>Share</li>
                <li>Reply</li>
                <li>
                    <a href="/shitter/{{tweet.id}}/delete">Soptunneikon</a>
                </li>
            </ul>
        </footer>
    </article>
</li>


{% endblock %}