{% extends "layout.njk" %}
{% block content %}

<main>
    <form action="/shitter/user/new" method="post">
        <div class="textblock">
            <h2>Create new user</h2>
                <label for="username">Username</label>
                <input type="text", name="username" required><br>

                <label for="password">Password</label>
                <input type="text", name="password" required>

            <button type="submit">Create</button>
        </div>
    </form>
</main>

{% endblock %}