{% extends "layout.njk" %}
{% block content %}

<main>
    <form action = "/shitter/{{tweet_id}}/edit" method = "post">
        <div class="textblock">
            <h2>Edit tweet</h2>
                <label for="new_content">Content</label>
                <input type="text", name="new_content" required value = "{{old_content[0].message}}"><br>
                <input type="hidden", name ="old_content" required value = {{old_content}}>
            <button type="submit">Update</button>
        </div>
    </form>
</main>

{% endblock %}