{% extends "layout.njk" %}
{% block content %}

<main>
    <ul class="tweets">
        {% for tweet in tweets %}
            {% include "components/tweet.njk" %}
        {% endfor %}
    </ul>
</main>

{% endblock %}