{% extends "layout.njk" %}
{% block content %}

<main>
    <ul class="tweets">
        {% for tweet in tweet %}
            {% include "components/tweet.njk" %}
        {% endfor %}
    </ul>
    <hr>

    <h2>Replies:</h2>
    <hr>

    <ul class ="replyform">
        <form action="/shitter/" method="post">
            <div class="textblock">
                <h2>Create new reply</h2>
                    <label for="content">Content</label>
                    <input type="text", name="content" required><br>

                    <input type ="hidden" name="origin_id" value={{origin_id}}>
        
                <button type="submit">Post</button>
            </div>
        </form>
    </ul>
    <hr>

    <ul class="tweets">
        {% for tweet in replies %}
            {% include "components/tweet.njk" %}
        {% endfor %}
    </ul>
</main>

{% endblock %}