{% extends "layout.njk" %}
{% block content %}

<main>
    <h1>
        <b>{{ username }}</b>'s profile
    </h1>
    <a href="/shitter/post">Skapa inlägg</a>
    <hr>
    <ul class="tweets">
        {% for tweet in tweets %}
            {% include "components/tweet.njk" %}
        {% endfor %}
    </ul>
</main>

{% endblock %}